body{
    width:80vw;
    margin: auto;
    background: rgb(238, 238, 238);
}
h1,h2,h3,h4,h5,h6{
    font-family: Georgia, serif;
}
.page{
    display:flex;
    flex-wrap: wrap;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    
}
.page h1{
    flex-basis: 100%;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}
h2{
    flex-basis: 100%;
}

.first-article img{
    float:right;
    border: 4px solid black;
    padding: 7px;
    margin-left: 5px;
    background: rgb(255, 255, 255);
}
blockquote{
    float:right;
    width:25%;
    font-family: Georgia, serif;
}
blockquote::before{
    display: inline-block;
    width: 3px;
    height: 100px;
    position: absolute;
    right: 860px;
    background-color: #DDDDDD;
    content: '';
}
span{
    display: block;
    text-align: right;
    margin-top: 20px;
}
.third-article img{
    float:left;
    border: 4px solid black;
    padding: 7px;
    margin-right: 10px;
    background: rgb(255, 255, 255);
}
.navigation{
    margin-left: 50px;
}
ul li{
    list-style-type:square;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: rgb(0, 153, 0);
}